*{
  padding: 0;
  margin: 0;
}
.input-file{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: 2px solid white;
  border-radius: 10px;
  border-style: dashed;
  margin-top: 100px;
  margin-inline: 50px;
}
.input-file>p{
  margin: 20px;
  color:white;
}
body{
   background-color:#232323;
}
/* .container{
  width: 100%;
  background-color:#3AC4AA;
  justify-content: center;
  align-items: center;
  
} */
.input-file>div{
  display: flex;
  font-size: 20px;
  background-color:#FFBE3D;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.input-file>div>p{
  margin-left: 10px;
}
.video-edit{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
}
.video-edit>video{
  width: 90%;
}
textarea{
  padding: 5px;
  width: 300px;
  resize: none;
  border-radius: 5px;
  background-color: #323232;
  color: white;
}
.video-edit>h1{
  margin-bottom: 20px;
}
.subtitle-edit{
  margin-top: 20px;
  display: flex;
}
.subtitle-edit>button{
  margin-left: 10px;
  width: 70px;
  border-radius: 5px;
  border: 1px #323232 ;
  font-size:1rem;
  background-color:#323232;
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
}
button:hover{
  border:1px solid #FFBE3D;
}
textarea:focus{
  outline: none;
}

.submit{
  margin-top: 40px;
  height: 30px;
  width: 400px;
  background-color: #FFBE3D;
  border-radius: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
 color: black;
 font-size: 1.2rem;
 cursor: pointer;
}
.submit:hover{
  background-color: #ffad00;
}
.video-grid{
  margin-top: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width:440px) {
  .subtitle-edit>button{
    width: 40px;
  }
  textarea{
    width: 70%;
  }
  .submit{
    width: 70%;
  }
  h1{
     font-size: 1.5rem;
  }
  .input-file{
    padding: 20px;
    border: none;
  }
}
